<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.leo.searchabledictanary">

   <application
        android:icon="@drawable/ic_dictionary">

      
        <activity android:name=".SearchableDictionary"
            android:launchMode="singleTop">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

     
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                
            </intent-filter>

            <!-- Points to searchable meta data. -->
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />

        </activity>

       
        <activity android:name=".WordActivity" />

        
        <provider android:name=".DictionaryProvider"
            android:authorities="com.example.android.searchabledict.DictionaryProvider" />

      
        <meta-data android:name="android.app.default_searchable"
            android:value=".SearchableDictionary" />

    </application>

</manifest>
